@font-face {
  font-family: 'customFont';
  src: url('../../font/customFont/customFont.eot?u0c48x');
  src: url('../../font/customFont/customFont.eot?u0c48x#iefix') format('embedded-opentype'),
    url('../../font/customFont/customFont.ttf?u0c48x') format('truetype'),
    url('../../font/customFont/customFont.woff?u0c48x') format('woff'),
    url('../../font/customFont/customFont.svg?u0c48x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'customFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e910";
}
.icon-arrow-middle-left:before {
  content: "\e900";
}
.icon-blood-test-tube:before {
  content: "\e901";
}
.icon-bubble-discussion:before {
  content: "\e902";
}
.icon-calendar .path1:before {
  content: "\e903";
  color: rgb(0, 0, 0);
  opacity: 0.991;
}
.icon-calendar .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.995;
}
.icon-circle-check:before {
  content: "\e905";
}
.icon-computer:before {
  content: "\e906";
}
.icon-degree-credential:before {
  content: "\e907";
}
.icon-download:before {
  content: "\e908";
}
.icon-earth-americas:before {
  content: "\e909";
}
.icon-employee-man-alt:before {
  content: "\e90a";
}
.icon-envelope:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-graduation-cap:before {
  content: "\e90d";
}
.icon-headset:before {
  content: "\e90e";
}
.icon-heart:before {
  content: "\e90f";
}
.icon-instagram-outline:before {
  content: "\e911";
}
.icon-journal-alt:before {
  content: "\e912";
}
.icon-marker:before {
  content: "\e913";
}
.icon-megaphone:before {
  content: "\e914";
}
.icon-newspaper:before {
  content: "\e915";
}
.icon-phone-retro-2 .path1:before {
  content: "\e916";
  color: rgb(0, 0, 0);
  opacity: 0.987;
}
.icon-phone-retro-2 .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.992;
}
.icon-phone-retro-2 .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.982;
}
.icon-question-square:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e91a";
}
.icon-share:before {
  content: "\e91b";
}
.icon-star:before {
  content: "\e91c";
}
.icon-student:before {
  content: "\e91d";
}
.icon-teddy-bear:before {
  content: "\e91e";
}
.icon-twitter:before {
  content: "\e91f";
}
.icon-user:before {
  content: "\e920";
}
.icon-youtube:before {
  content: "\e921";
}


.icon-facebook{
  font-size: 22px;
}
.icon-twitter{
  font-size: 16px;
}
.icon-youtube{
  font-size: 20px;
}
.icon-search{
  font-size: 20px;
}
.icon-teddy-bear{
  font-size: 27px;
  @media screen and (max-width:991.98px) {
    font-size: 22px;
  }
}
.icon-computer{
  font-size: 26px;
  @media screen and (max-width:991.98px) {
    font-size: 22px;
  }
}
.icon-blood-test-tube{
  font-size: 32px;
  @media screen and (max-width:991.98px) {
    font-size: 26px;
  }
}
.icon-graduation-cap{
  font-size: 28px;
  @media screen and (max-width:991.98px) {
    font-size: 22px;
  }
}
.icon-headset{
  font-size: 56px;
  @media screen and (max-width:991.98px) {
    font-size: 30px;
  }
}