:root {
  --white: #fff;
  --white-2: #ecedf0;
  --black: #000000;
  --primary: #fe6845;
  --secondary: #ffa046;
  --third: #6aa564;
  --fourth: #3e85f0;
  --fifth: #002a46;
  --sixth: #002446;
  --success: #146c43;
  --text: #191919;
  --text-2: #5c5c5c;
  --text-3: #c6c6c6;
  --light-gray: #fafafa;
  --gray: #f3f3f3;
}

/*Custom Color ve background class*/
$primary: #fe6845;
$secondary: #ffa046;
$third: #6aa564;
$fourth: #3e85f0;
$fifth: #002a46;
$sixth: #002446;
$success: #146c43;
$light-gray: #fafafa;
$gray: #f3f3f3;
$black: #000000;
$white: #ffffff;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "third": $third,
  "fourth": $fourth,
  "fifth": $fifth,
  "sixth": $sixth,
  "success": $success,
  "light-gray": $light-gray,
  "gray": $gray,
  "dark": $black,
  "light": $white,
);

@mixin generate-button-classes($colors) {
  @each $name, $color in $colors {
    .button-#{$name} {
      background-color: $color !important;
      border: 1px solid $color !important;

      input {
        width: 100%;
        height: 100% !important;
        background-color: rgba(0, 0, 0, 0) !important;
        border: none !important;
        color: $white !important;
        padding: 0 !important;
      }
      @media screen and (max-width: 991.98px) {
        &:hover {
          color: var(--white);
        }
      }
      @media screen and (min-width: 992px) {
        &:not(.disabled):hover {
          color: $color;

          input {
            color: $color !important;
          }
        }
        &:hover {
          input {
            color: $color !important;
          }
        }
      }

      &.disabled {
        border-color: var(--gray-2) !important;
        background-color: var(--gray-2) !important;
        color: var(--gray-5) !important;
        pointer-events: none;

        &:after {
          display: none;
        }
        input {
          color: var(--gray-5) !important;
        }
        &:before {
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 9;
          position: absolute;
        }
      }
    }
  }
}
@mixin generate-background-classes($colors) {
  @each $name, $color in $colors {
    .bg-#{$name} {
      background-color: $color !important;
    }
  }
}

@mixin generate-text-classes($colors) {
  @each $name, $color in $colors {
    .text-#{$name} {
      color: $color !important;
    }
  }
}
@mixin generate-border-classes($colors) {
  @each $name, $color in $colors {
    .border-#{$name} {
      border-color: $color !important;
    }
  }
}

@include generate-border-classes($colors);
@include generate-background-classes($colors);
@include generate-text-classes($colors);
@include generate-button-classes($colors);

/*Custom container class*/
@mixin generate-containers($container-max-width) {
  @each $size in $container-max-width {
    $class: nth($size, 1);
    $width: nth($size, 2);

    .container-#{$class} {
      max-width: $width;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      position: relative;
      &:not(.noSpace) {
        @media screen and (max-width: 1440px) {
          max-width: 1200px;
        }
        @media screen and (max-width: 1280px) {
          padding-left: 40px;
          padding-right: 40px;
        }
        @media screen and (max-width: 991.98px) {
          padding-left: 16px;
          padding-right: 16px;
        }
      }

      @media screen and (min-width: 992px) {
        // padding-left: 8.3334vw;
        // padding-right: 8.3334vw;
      }

      @media screen and (min-width: 1921px) {
        // padding-left: 160px;
        // padding-right: 160px;
      }
    }
  }
}

$container-max-width: (
  ("sm", 570px),
  ("md", 768px),
  ("lg", 992px),
  ("xl", 1200px),
  ("xxl", 1305px),
  ("2xl", 1440px),
  ("3xl", 1920px)
);

@include generate-containers($container-max-width);

a:hover {
  @media screen and (max-width: 991.98px) {
    color: inherit;
  }
}
/*Standart css style*/
.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    transition: all 0.3s linear;
  }
}

.videoWrapper {
  width: 100%;
  height: 100%;

  video,
  iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  &-1 {
    -webkit-line-clamp: 1;
  }
  &-2 {
    -webkit-line-clamp: 2;
  }
  &-3 {
    -webkit-line-clamp: 3;
  }
}

.noresize {
  resize: none;
}
/*fixButton*/
.fixBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: currentColor;
  color: var(--white);
  font-weight: 800;
  font-size: 19.5px;
  line-height: 29px;
  height: 38px;
  border-radius: 8px;
  padding: 0 12px;
  transition: all 0.3s linear;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-width: 95px;
  white-space: nowrap;
  gap: 12px;
  cursor: pointer;
  @media screen and (max-width: 1440px) {
    font-size: 18px;
    line-height: 27px;
  }
  @media screen and (max-width: 1366px) {
    line-height: 27px;
    font-size: 16px;
  }

  svg,
  img {
    margin-right: 20px;
  }

  &:after {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.3s linear;
    background-color: var(--white);
    z-index: -1;
  }
  &.notAfter {
    &:after {
      display: none;
    }
  }
  &.notBefore {
    &:before {
      display: none;
    }
  }
  &.type2 {
    font-size: 12.5px;
    font-weight: 700;
    height: 44px;
  }

  &.button-outline {
    color: var(--black);
    border: 1px solid var(--gray-5);
    background-color: rgba(0, 0, 0, 0);
    &:after {
      background-color: var(--primary);
    }

    input {
      width: 100%;
      height: 100% !important;
      border: none !important;
      padding: 0 !important;
      color: var(--black);
      border: 1px solid var(--gray-5);
      background-color: rgba(0, 0, 0, 0);
    }
    @media screen and (min-width: 992px) {
      &:hover {
        color: var(--white);

        input {
          color: var(--white);
        }
      }

      &:not(.disabled):hover {
        color: var(--white);

        input {
          color: var(--white) !important;
        }
      }
    }
    &.notAfter {
      @media screen and (min-width: 992px) {
        &:hover {
          color: var(--primary);
          border-color: var(--primary);
        }
      }
    }
  }
  &.moreButton {
    height: 60px;
    width: 200px;
    font-size: 16px;
    @media screen and (max-width: 991.98px) {
      &:hover {
        color: var(--white);
      }
    }
    @media screen and (max-width: 480px) {
      width: 100%;
      max-width: 400px;
    }
  }

  &.button-white {
    background-color: var(--white);
    color: var(--primary);
    border: 1px solid var(--white);
    &:after {
      background-color: var(--primary);
    }
    @media screen and (min-width: 992px) {
      &:hover {
        color: var(--white);
      }
    }
  }

  @media screen and (min-width: 992px) {
    &.addNewButton {
      min-width: 300px;
    }
    &:hover {
      &.button-light {
        color: var(--white) !important;
      }

      &:after {
        width: 100%;
      }
    }
  }
}

.textLink {
  color: var(--primary);
  position: relative;
  font-weight: 800;
  font-size: 17.5px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  letter-spacing: -0.5px;
  transition: all 0.3s linear;
  @media screen and (max-width: 991.98px) {
    font-size: 14px;
  }
  @media screen and (min-width: 992px) {
    &:hover {
      color: var(--primary);
    }
  }

  @media screen and (min-width: 992px) {
    &:hover {
      color: var(--black);
      &:after {
        width: 0;
      }
    }
  }
}

.colorsLine {
  background: linear-gradient(
    to right,
    var(--primary) 25%,
    var(--secondary) 25% 50%,
    var(--third) 50% 75%,
    var(--fourth) 75%
  );
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s linear;
}

.verticalText {
  text-orientation: mixed;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  &.dark {
    color: var(--fifth);
  }
}
.horizontalMobilScrollWrapper {
  width: calc(100% + 32px);
  margin-left: -16px;
  overflow: hidden;
  overflow-x: auto;
  &::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    height: 0;
    box-shadow: none;
    border: none;
    outline: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    height: 0;
    box-shadow: none;
    border: none;
    outline: 0;
    /* Chrome, Safari, Edge ve Opera için */
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    height: 0;
    box-shadow: none;
    border: none;
    outline: 0;
    /* Chrome, Safari, Edge ve Opera için */
  }
}

.topImgBg {
  position: absolute;
  width: 100%;
  top: 250px;
  left: 0;
  right: 0;
  z-index: -1;
  @media screen and (max-width: 1440px) {
    top: 150px;
  }
  @media screen and (max-width: 991.98px) {
    top: 200px;
  }
}

.mobileHandIcon {
  display: none;
  width: 24px;
  height: 24px;
  animation: leftoright 1s ease-in-out infinite;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 5px;
  @media screen and (max-width: 991.98px) {
    display: block;
  }

  img {
    width: 100%;
  }
}

@keyframes leftoright {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

h1 {
  font-size: 52px;
  line-height: 62px;
  color: var(--white);
  font-weight: 400;
  b{
    font-weight: 800;
  }
  @media screen and (max-width: 991.98px) {
    font-size: 26px;
    line-height: 34px;
  }
  @media screen and (max-width: 480px) {
    font-size: 22px;
    line-height: 30px;
  }
}

.border-fix{
  border: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
}
