@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2erm1p');
  src:  url('fonts/icomoon.eot?2erm1p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2erm1p') format('truetype'),
    url('fonts/icomoon.woff?2erm1p') format('woff'),
    url('fonts/icomoon.svg?2erm1p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e928";
}
.icon-whatsapp:before {
  content: "\e929";
}
.icon-notepad:before {
  content: "\e925";
}
.icon-robot:before {
  content: "\e926";
}
.icon-person-search:before {
  content: "\e927";
}
.icon-arrow-alt-circle-up:before {
  content: "\e924";
}
.icon-chevron:before {
  content: "\e923";
}
.icon-close:before {
  content: "\e910";
}
.icon-arrow-middle-left:before {
  content: "\e900";
}
.icon-blood-test-tube:before {
  content: "\e901";
}
.icon-bubble-discussion:before {
  content: "\e902";
}
.icon-calendar .path1:before {
  content: "\e903";
  color: rgb(0, 0, 0);
  opacity: 0.991;
}
.icon-calendar .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.995;
}
.icon-circle-check:before {
  content: "\e905";
}
.icon-computer:before {
  content: "\e906";
}
.icon-degree-credential:before {
  content: "\e907";
}
.icon-download:before {
  content: "\e908";
}
.icon-earth-americas:before {
  content: "\e909";
}
.icon-employee-man-alt:before {
  content: "\e90a";
}
.icon-envelope:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-graduation-cap:before {
  content: "\e90d";
}
.icon-headset:before {
  content: "\e90e";
}
.icon-heart:before {
  content: "\e90f";
}
.icon-instagram-color:before {
  content: "\e911";
}
.icon-instagram-outline:before {
  content: "\e912";
}
.icon-journal-alt:before {
  content: "\e922";
}
.icon-marker:before {
  content: "\e913";
}
.icon-megaphone:before {
  content: "\e914";
}
.icon-newspaper:before {
  content: "\e915";
}
.icon-phone-retro-2 .path1:before {
  content: "\e916";
  color: rgb(0, 0, 0);
  opacity: 0.987;
}
.icon-phone-retro-2 .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.992;
}
.icon-phone-retro-2 .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.982;
}
.icon-question-square:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e91a";
}
.icon-share:before {
  content: "\e91b";
}
.icon-star:before {
  content: "\e91c";
}
.icon-student:before {
  content: "\e91d";
}
.icon-teddy-bear:before {
  content: "\e91e";
}
.icon-twitter:before {
  content: "\e91f";
}
.icon-user:before {
  content: "\e920";
}
.icon-youtube:before {
  content: "\e921";
}
