.customAcc {
  padding-top: 70px;
  @media screen and (max-width: 991.98px) {
    padding-top: 50px;
  }
  @media screen and (max-width: 480px) {
    padding-top: 30px;
  }
  .accordion {
    .accordion-item {
      margin-bottom: 20px;
      .accordion-header {
        .accordion-button {
          background-color: #dfdfdf;
          border: none;
          box-shadow: none;
          transition: all 0.3s linear;
          line-height: 42px;
          font-size: 21.5px;
          color: var(--white);
          font-weight: 700;
          min-height: 60px;
          border-radius: 5px;
          @media screen and (max-width: 991.98px) {
            font-size: 16px;
            min-height: 45px;
          }

          &:after {
            font-weight: 800;
            content: "+";
            background: none;
            background-color: #bebebe;
            width: 32px;
            height: 32px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 19px;
            transition: all 0.3s linear;
          }
          &:not(.collapsed) {
            background-color: var(--primary);
            &:after {
              background-color: #e45a3a;
            }
          }
          @media screen and (min-width: 992px) {
            &:hover {
              background-color: var(--primary);
            }
          }
        }
      }

      .accordion-body {
        padding: 16px 0;
        font-size: 17px;
        line-height: 25px;
        font-weight: 400;
        b {
          font-weight: 700;
        }
        a {
          font-weight: 700;
          color: var(--primary);
          position: relative;
          &:before {
            content: "";
            border-bottom: 1px dotted var(--primary);
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: -2px;
            left: 0;
            transition: all 0.3s linear;
          }
          @media screen and (min-width: 992px) {
            &:hover {
              &:after {
                width: 0;
              }
            }
          }
        }
      }
    }
  }
}
