.customAcc {
  padding-top: 70px;
  @media screen and (max-width: 991.98px) {
    padding-top: 50px;
  }
  @media screen and (max-width: 480px) {
    padding-top: 30px;
  }
  .accordion {
    .accordion-item {
      margin-bottom: 20px;
      border-bottom: none;
      .accordion-header {
        .accordion-button {
          background-color: #dfdfdf;
          border: none;
          box-shadow: none;
          transition: all 0.3s linear;
          line-height: 42px;
          font-size: 21.5px;
          color: var(--white);
          font-weight: 700;
          min-height: 60px;
          border-radius: 5px;

          @media screen and (max-width: 991.98px) {
            font-size: 16px;
            min-height: 45px;
            line-height: 22px;
          }

          &:after {
            font-weight: 800;
            content: "+";
            background: none;
            background-color: #bebebe;
            width: 32px;
            height: 32px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 19px;
            transition: all 0.3s linear;
          }
          &:not(.collapsed) {
            background-color: var(--primary);
            &:after {
              background-color: #e45a3a;
            }
          }
          @media screen and (min-width: 992px) {
            &:hover {
              background-color: var(--primary);
            }
          }
        }
      }

      .accordion-body {
        padding: 16px 0;
        font-size: 17px;
        line-height: 25px;
        font-weight: 400;
        b {
          font-weight: 700;
        }
        a {
          font-weight: 700;
          color: var(--primary);
          position: relative;
          &:before {
            content: "";
            border-bottom: 1px dotted var(--primary);
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: -2px;
            left: 0;
            transition: all 0.3s linear;
          }
          @media screen and (min-width: 992px) {
            &:hover {
              &:after {
                width: 0;
              }
            }
          }
        }

        .accordionContent {
          padding: 10px 25px 35px 25px;
        }

        .paragraph {
          font-size: 16px;
          line-height: 23px;
          color: #262626;
          font-weight: 400;
          @media screen and (max-width: 991.98px) {
            font-size: 14px;
            line-height: 21px;
          }
          span,
          h2 {
            font-size: 22px;
            line-height: 30px;
            margin-top: 30px;
            margin-bottom: 10px;
            color: var(--primary);
            font-weight: 700;
            display: block;
            @media screen and (max-width: 991.98px) {
              font-size: 18px;
              line-height: 25px;
              margin-top: 15px;
              margin-bottom: 5px;
            }
            &:first-child {
              margin-top: 0;
            }
          }
          h3 {
            font-size: 18px;
            line-height: 25px;
            color: var(--third);
            margin-top: 15px;
            margin-bottom: 5px;
            font-weight: 700;
            @media screen and (max-width: 991.98px) {
              font-size: 16px;
              line-height: 23px;
              margin-top: 5px;
              margin-bottom: 3px;
            }
          }
          a {
            font-weight: 700;
            color: var(--primary);
            &:before {
              bottom: -1px;
            }
            @media screen and (min-width: 992px) {
              &:hover {
                &:before {
                  width: 0;
                }
              }
            }
          }
          strong {
            font-weight: 700;
            display: block;
          }
          b {
            font-weight: 700;
          }
          ol,
          ul {
            padding-left: 20px;
            margin-top: 15px;
            margin-bottom: 30px;
            li {
              padding-left: 10px;
              padding-top: 5px;
              padding-bottom: 5px;
              &::marker {
                color: var(--third);
                font-weight: 700;
                font-size: 16px;
              }
            }
          }
          ol {
            list-style-type: decimal;
            li {
              &::marker {
                font-size: 18px;
              }
            }
          }
          ul {
            list-style-type: disc;
            li {
              padding-left: 0;
            }
          }
        }
      }
    }
    &.outline {
      .accordion-item {
        .accordion-header {
          .accordion-button {
            gap: 12px;
            background-color: var(--white);
            border: 2px solid #e6e6e6;
            color: #262626;
            // @media screen and (max-width: 991.98px) {
            //   align-items: flex-start;
            // }
            // span {
            //   &:not(.customIcon) {
            //     @media screen and (max-width: 991.98px) {
            //       display: inline-block;
            //       padding-top: 5px;
            //     }
            //   }
            // }
            .icon-question-square {
              color: var(--secondary);
            }
            .customIcon {
              font-size: 24px;
              // @media screen and (max-width: 991.98px) {
              //   top: 3px;
              //   position: relative;
              // }
              &.type2 {
                color: var(--secondary);
              }
            }
            .imgIcon {
              max-width: 24px;
            }
            &:not(.collapsed) {
              background-color: var(--secondary);
              color: var(--white);
              border-color: var(--secondary);
              .icon-question-square {
                color: var(--white);
              }
              .customIcon {
                &.type2 {
                  color: var(--white);
                }
              }
              &:after {
                background-color: #e68b35;
              }
            }
            @media screen and (min-width: 992px) {
              &:hover {
                background-color: var(--secondary);
                color: var(--white);
                border-color: var(--secondary);
                .icon-question-square {
                  color: var(--white);
                }
                &:after {
                  background-color: #e68b35;
                }
                .customIcon {
                  &.type2 {
                    color: var(--white);
                  }
                }
              }
            }
          }
        }
      }
    }
    &.type2 {
      .accordion-item {
        .accordion-header {
          .accordion-button {
            color: #474747;
            @media screen and (max-width: 991.98px) {
              align-items: center;
            }
            &:not(.collapsed) {
              color: var(--white);
            }
            &:hover {
              @media screen and (min-width: 992px) {
                color: var(--white);
              }
            }
          }
        }
      }
    }
  }

  &.primaryTheme{
    .accordion{
      .accordion-item {
          background-color: rgba(0,0,0,0);
          .accordion-header {
          .accordion-button {
            font-size: 18.5px;
            line-height: 27px;
            .customIcon{
              color: var(--primary)!important;
            }
            &:after{
              background-color: #e6e6e6;
            }
            &:not(.collapsed){
              background-color: var(--primary);
              border-color: var(--primary);
              .customIcon{
                color: var(--white)!important;
              }
              &:after{
                background-color: #cf4929;
              }
            }
            @media screen and (min-width:992px) {
              &:hover{
                color:var(--white);
                background-color: var(--primary);
                border-color: var(--primary);
                .customIcon{
                  color: var(--white)!important;
                }
                &:after{
                  background-color: #cf4929;
                }
              }
            }
          }
        }
        .accordion-body{
          background-color: rgba(0,0,0,0);
          padding-bottom: 0;
          .accordionContent{
            padding-bottom: 5px;
            padding-top: 0px;
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}
