.breadCrumbWrapper {
  margin-top: 11px;
  position: relative;
  z-index: 99;
  display: inline-block;
  @media screen and (max-width: 1200px) {
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    // padding-left: 11px;
    .breadcrumb-item {
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      color: var(--white);
      a {
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--white);
        transition: all 0.3s linear;
        padding-right: 6px;
        @media screen and (max-width: 991.98px) {
          margin-bottom: 0;
        }

        &.active {
          color: var(--primary);
        }
        @media screen and (min-width: 992px) {
          &:hover {
            color: var(--primary);
          }
        }
      }
      & + .breadcrumb-item {
        &:before {
          content: "\e923";
          font-family: "customFont";
          font-size: 10px;
          color: var(--primary);
          display: inline-block;
          margin-right: 6px;
          @media screen and (max-width: 991.98px) {
          }
        }
      }
    }
  }
}
