.breadCrumbWrapper{
    margin-top: 11px;
    position: relative;
    z-index: 99;
    display: inline-block;
    // margin-bottom: 60px;
    // margin-bottom:38px;
    @media screen and (max-width:1200px) {
        // margin-bottom: 20px;
     }
    //  @media screen and (max-width:991.98px) {
    //     display: none;
    //  }
    .breadcrumb{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 0;
        // padding-left: 11px;
        a{
            font-family: 'Roboto',sans-serif;
            font-size: 13px;
            font-weight: 400;
            color: #3e3e3e;
            transition: all .3s linear; 
            padding-right: 20px;
            @media screen and (max-width:991.98px) {
                padding-right: 10px;
                font-size: 12px;
                margin-bottom: 0;
            }
            & + a{
                &:before{
                    content: "|";
                    font-size: 13px;
                    color: #3e3e3e;
                    font-family: 'Roboto',sans-serif;
                    display: inline-block;
                    margin-right: 18px;
                    @media screen and (max-width:991.98px) {
                        margin-right: 10px;
                    }
                }
            }
            &.active{
                color: var(--primary);
            }
            @media screen and (min-width:992px) {
                &:hover{
                    color: var(--primary);
                }
            }
        }
    }
}