.cards {
  &:not(.swiper-wrapper) {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .card {
      .desc {
      }
    }
  }
  .card {
    border: none;

    &.halfBgTop {
      padding: 10px 10px 0;
      border: 2px solid #f4f4f4;
      border-top: none;
      border-bottom: none;
      border-radius: 0;
      &:before {
        content: "";
        width: calc(100% + 4px);
        height: 184px;
        background-color: #f4f4f4;
        position: absolute;
        top: 0;
        left: -2px;
        right: 0;
        border-bottom: 10px solid var(--white);
        @media screen and (max-width:480px) {
          height: 120px;
        }
      }
    }
    .card-top {
      position: relative;
    }
    .card-body {
      .buttonWrapper {
        display: flex;
        align-items: stretch;
        height: 80px;
        padding-top: 10px;

        .shareWrapper {
          width: 50%;
          border-right: 2px solid #cccccc;
          @media screen and (max-width:480px) {
            border-width: 1px;
          }
        }
        .downloadWrapper {
          width: 50%;
        }
      }
    }
    .card-img-overlay {
      background: rgb(255, 255, 255);
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgb(0, 36, 70) 115%
      );
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      transition: all 0.3s ease-in-out;
      padding-top: 0;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;

      .captionBack {
        position: relative;
        font-weight: 700;
        color: var(--white);
        font-size: 57px;
        line-height: 67px;
        opacity: 4%;
        @media screen and (max-width: 991.98px) {
          font-size: 24px;
          line-height: 32px;
        }
      }
      .caption {
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;
        max-height: 100px;
        @media screen and (max-width: 991.98px) {
          height: 53px;
        }

        .front {
          font-weight: 700;
          color: var(--white);
          font-size: 21px;
          line-height: 30px;
          position: absolute;
          width: 100%;
          left: 0;
          right: 0;
          text-align: center;
          top: 50%;
          transform: translateY(-50%);
          @media screen and (max-width: 991.98px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }

      .logo {
        width: 35px;
      }
      .tag {
        font-size: 13px;
        color: var(--white);
        line-height: 14px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        @media screen and (max-width:1280px) {
          font-size: 12px;
        }
      }
      .card-title {
        font-size: 17px;
        line-height: 23px;
        font-weight: 700;
        color: var(--white);
        text-align: center;
        @media screen and (max-width:1280px) {
          font-size: 14px;
          line-height: 21px;
        }
      }

      &.anaokulu {
        border-bottom: 23px solid var(--primary);
        @media screen and (max-width: 480px) {
          border-bottom: 10px solid var(--primary);
        }
      }
      &.ilkokul {
        border-bottom: 23px solid var(--secondary);
        @media screen and (max-width: 480px) {
          border-bottom: 10px solid var(--secondary);
        }
      }
      &.ortaokul {
        border-bottom: 23px solid var(--third);
        @media screen and (max-width: 480px) {
          border-bottom: 10px solid var(--third);
        }
      }
      &.anadolul {
        border-bottom: 23px solid var(--fourth);
        @media screen and (max-width: 480px) {
          border-bottom: 10px solid var(--fourth);
        }
        .caption {
          .front {
            @media screen and (min-width: 992px) {
              margin-top: 15px;
            }
          }
        }
      }
    }
    a {
      @media screen and (min-width: 992px) {
        &:hover {
          .card-img-overlay {
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0) 0%,
              rgb(0, 36, 70) 100%
            );
          }
        }
      }
    }
  }
  &.half {
    gap: 36px 30px;
    @media screen and (max-width: 1280px) {
      gap: 20px;
    }
    .card {
      width: calc(50% - 20px);
      display: flex;

      @media screen and (max-width: 540px) {
        width: 100%;
      }
      .card-top {
        aspect-ratio: 4/2;
        overflow: hidden;
        border-radius: 19px;
        position: relative;

        .card-title,
        h2 {
          font-size: 20px;
          line-height: 27px;
          color: var(--white);
          font-weight: 700;
          @media screen and (max-width: 1280px) {
            font-size: 18px;
            line-height: 24px;
          }
          @media screen and (max-width: 991.98px) {
            font-size: 16px;
            line-height: 21px;
          }
        }

        .card-img-overlay {
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgb(0, 0, 0) 100%
          );
          padding: 20px;
          transition: all 0.3s linear;
        }
      }
    }
    a {
      &.card {
        @media screen and (min-width: 992px) {
          &:hover {
            .card-img-overlay {
              padding-bottom: 30px;
            }
          }
        }
      }
    }
  }
  &.third {
    gap:50px 30px;
    @media screen and (max-width:480px) {
     gap: 30px 15px;
    }
    .card {
      width: calc(33.3% - 20px);
      @media screen and (max-width:1280px) {
        width: calc(50% - 15px);
      }
      @media screen and (max-width:480px) {
        // width: 100%;
      }
      .card-body{
        padding: 0;
      }
      .card-top {
        position: relative;
        aspect-ratio: 3 / 4;
        overflow: hidden;
      }
    }
  }
  &.quad {
    .card {
      width: calc(25% - 15px);
      max-width: calc(25% - 15px);
      @media screen and (max-width: 991.98px) {
        width: calc(50% - 10px);
        max-width: initial;
        flex: none;
      }
      @media screen and (max-width: 480px) {
        width: 100%;
      }
      .card-top {
        aspect-ratio: 3 / 3.1;
        border-radius: 25px;
        overflow: hidden;
        position: relative;
        .imageWrapper {
          border: 1px solid #f2f2f2;

          img {
            transition: all 0.3s linear;
          }
        }
      }
      a {
        &.card-top {
          @media screen and (min-width: 992px) {
            &:hover {
              img {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }

  &.thirdCards {
    .card {
      .card-top {
        aspect-ratio: 4/2;
        border-radius: 25px;
        overflow: hidden;
        position: relative;
        img {
          transition: all 0.3s linear;
        }
      }
      .card-body {
        background-color: #efefef;
        border-radius: 0 0 25px 25px;
        width: calc(100% - 46px);
        margin: 0 auto;
        text-align: center;
        height: 75px;
        .card-title {
          color: #0b0b0b;
          font-size: 14.5px;
          line-height: 22px;
          font-weight: 700;
          transition: all 0.3s linear;
        }
      }
    }
    a {
      &.card {
        @media screen and (min-width: 992px) {
          &:hover {
            img {
              transform: scale(1.1);
            }
            .card-body {
              .card-title {
                color: var(--primary);
              }
            }
          }
        }
      }
    }
  }
}
.ratesWrapper {
  position: relative;
  z-index: 1;
  padding: 60px 102px 0;
  @media screen and (max-width: 991.98px) {
    padding: 20px 0;
  }
  .backImages {
    position: absolute;
    width: 100%;
    top: -90px;
    left: 0;
    right: 0;
    z-index: -1;
    display: flex;
    align-items: flex-end;
    padding-right: 20px;
    @media screen and (max-width: 991.98px) {
      display: none;
    }
    .rightImg {
      position: relative;
      top: -45px;
    }
  }
  .frontImagesLeft,
  .frontImagesLeftRight {
    position: absolute;
    bottom: 0;
    z-index: 1;
    @media screen and (max-width: 991.98px) {
      display: none;
    }
  }
  .frontImagesLeft {
    left: -61px;
  }
  .frontImagesLeftRight {
    right: -40px;
  }
  .cards {
    gap: 20px;
    @media screen and (max-width: 480px) {
      gap: 30px;
    }
    .card {
      background-color: var(--primary);
      height: 215px;
      align-items: center;
      text-align: center;
      padding: 50px 20px 20px;
      border-radius: 21px;
      @media screen and (max-width: 1440px) {
        padding-top: 35px;
      }
      @media screen and (max-width: 1280px) {
        padding-top: 30px;
      }
      @media screen and (max-width: 480px) {
        height: 150px;
      }
      &:nth-child(even) {
        background-color: var(--secondary);
      }
      .icon {
        position: absolute;
        top: -60px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 120px;
        @media screen and (max-width: 1440px) {
          width: 75px;
          top: -30px;
        }
        @media screen and (max-width: 1280px) {
          width: 50px;
          top: -15px;
        }
        img {
          width: 100%;
        }
        & > span {
          font-size: 80px;
        }
      }
      .counter {
        font-size: 67px;
        line-height: 75px;
        color: var(--white);
        font-weight: 800;
        @media screen and (max-width: 1440px) {
          font-size: 40px;
          line-height: 50px;
        }
        @media screen and (max-width: 1280px) {
          font-size: 30px;
          line-height: 40px;
        }
      }
      .text {
        font-size: 19.5px;
        line-height: 25px;
        color: var(--white);
        letter-spacing: -0.25px;
        font-weight: 400;
        @media screen and (max-width: 1280px) {
          font-size: 16px;
          line-height: 22px;
        }
        strong {
          font-weight: 800;
          display: block;
        }
        b {
          font-weight: 800;
        }
      }
      &.last {
        padding-right: 40px;
      }
    }
  }
}

.downloadWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
  .text {
    font-size: 14px;
    color: #cccccc;
    font-weight: 600;
    line-height: 16px;
    @media screen and (max-width:480px) {
      font-size: 12px;
    }
  }
  .icon-download {
  }
  a {
    font-size: 26px;
    color: #cccccc;
    transition: all 0.3s linear;
    @media screen and (min-width: 992px) {
      &:hover {
        color: var(--fifth);
      }
    }
  }
}
.shareWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  .text {
    font-size: 14px;
    color: #cccccc;
    font-weight: 600;
    line-height: 16px;
    @media screen and (max-width:480px) {
      font-size: 12px;
    }
  }
  .shareButtonIcon {
    color: #cccccc;
    transition: all 0.3s linear;
    font-size: 26px;
    cursor: pointer;
    @media screen and (min-width: 992px) {
      &:hover {
        color: var(--fifth);
      }
    }
  }
  .shareButtonWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
    left: -50%;
    bottom: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
    .shareButton {
      width: 30px;
      height: 30px;
      background-color: var(--fifth);
      border: 1px solid var(--fifth);
      color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      border-radius: 100%;
      transition: all 0.3s linear;
      @media screen and (min-width: 992px) {
        &:hover {
          background-color: var(--white);
          color: var(--fifth);
          transform: scale(1.05);
        }
      }

      .icon-linkedin {
        font-size: 18px;
      }
      .icon-whatsapp {
        font-size: 18px;
      }
      .icon-twitter {
        font-size: 12px;
      }
      .icon-facebook {
        font-size: 16px;
      }
    }

    &.active {
      left: 50%;
      transform: translateX(-50%);
      opacity: 1;
      visibility: visible;
    }
  }
}
