.is-idle .fancybox__nav{
    animation: none;
}
.f-button[title="Close"]{
    top: 30px;
    right: 30px;
    &:before{
        content: "\e910";
            font-family: 'customFont';
            color: var(--primary);
            position: relative;
            font-size: 50px;
            transition: all .3s linear;
    }
}
.f-button {
    background-color: var(--white);
    width: 75px;
    height: 75px;
    transition: all .3s linear;
    border-radius: 0;
    @media screen and (max-width:991.98px) {
        width: 45px;
        height: 45px;
        margin-top: 30px;
    }
    svg{
        display: none;
    }

    &:hover{
        background-color: var(--primary);
        &:before{
            color: var(--white);
        }
        &:not([disabled]) {
            color: var(--white);
            background-color: var(--primary);
            &:before{
                color: var(--white);
            }
        }
    }
}
.fancybox__toolbar{
    .f-button {
        @media screen and (max-width:991.98px) {
            top: 30px!important;
        }
    }
}
.fancybox__nav {
    .f-button{
        &:before{
            content: "\e900";
            font-family: 'customFont';
            color: var(--primary);
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            font-size: 50px;
            transition: all .3s linear;
        }
        &.is-prev{
            left: 30px!important;
            
        }
        
        &.is-next{
            right: 30px!important;
            &:before{
                transform: rotate(180deg);
            }
        }
    }
}
.fancybox__slide.has-image>.fancybox__content{
    padding-top: 50px;
}
.is-idle .fancybox__toolbar{
    animation: none!important;
}