.table-responsive {
  @media screen and (max-width: 640px) {
    position: relative;
    padding-top: 40px;
    &:after {
      content: "";
      position: absolute;
      top: 13px;
      left: 15px;
      width: 24px;
      height: 24px;
      background-size: 24px;
      background-image: url("../../images/statics/icons/hand.svg");
      animation: leftoright 1s ease-in-out infinite;
    }
  }
}
@keyframes leftoright {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

.table {
  min-width: 600px;
  th {
    background-color: var(--secondary);
    height: 60px;
    font-size: 20px;
    color: var(--white);
    font-weight: 700;
    vertical-align: middle;
    border-bottom: none;

    &:first-child {
      padding-left: 30px;
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
    }
  }
  tr {
    td {
      height: 60px;
      vertical-align: middle;
      border: none;
      font-size: 18px;
      font-weight: 500;
      line-height: 36px;
      border-bottom: none;
      color: #161616;
      padding-left: 20px;
      padding-right: 20px;
      white-space: nowrap;
      .customIcon {
        color: #c5c5c5;
        display: inline-block;
        margin-right: 20px;
      }
      &:first-child {
        border-radius: 5px 0 0 5px;
        padding-left: 30px;
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
      }
    }
  }
  & > :not(caption) > * > * {
  }
}
