.table-responsive {
  @media screen and (max-width: 640px) {
    position: relative;
  }
}
.table {
  min-width: 600px;
  th {
    background-color: var(--secondary);
    height: 60px;
    font-size: 20px;
    color: var(--white);
    font-weight: 700;
    vertical-align: middle;
    border-bottom: none;
    @media screen and (max-width: 991.98px) {
      height: 45px;
      font-size: 15px;
    }

    &:first-child {
      padding-left: 30px;
      border-radius: 5px 0 0 5px;
      @media screen and (max-width: 991.98px) {
        padding-left: 16px;
      }
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
    }
  }
  tr {
    td {
      height: 60px;
      vertical-align: middle;
      border: none;
      font-size: 18px;
      font-weight: 500;
      line-height: 36px;
      border-bottom: none;
      color: #161616;
      padding-left: 20px;
      padding-right: 20px;
      white-space: nowrap;
      @media screen and (max-width: 991.98px) {
        height: 45px;
        font-size: 14px;
        line-height: 21px;
        padding-left: .5rem;
        padding-right: .5rem;
      }
      .customIcon {
        color: #c5c5c5;
        display: inline-block;
        margin-right: 20px;
        @media screen and (max-width: 991.98px) {
          margin-right: 6px;
        }
      }
      &:first-child {
        border-radius: 5px 0 0 5px;
        padding-left: 30px;
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
      }
    }
  }
  & > :not(caption) > * > * {
  }
}
