footer {
  background-image: url("../../images/statics/iconsBg-light.png");
  background-color: var(--fifth);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-blend-mode: multiply;
  position: relative;
  margin-top: 170px;
  @media screen and (max-width: 991.98px) {
    margin-top: 120px;
  }

  .footer {
    .footerBody {
      display: flex;
      align-items: flex-start;
      @media screen and (max-width: 991.98px) {
        flex-direction: column;
        align-items: center;
      }
      .leftColumn {
        border-right: 1px solid var(--white);
        min-height: 400px;
        display: flex;
        flex-direction: column;
        padding-right: 100px;
        @media screen and (max-width: 991.98px) {
          border-right: none;
          padding-left: 0;
          padding-right: 0;
          margin: 0 auto;
          min-height: initial;
        }
        .call {
          display: flex;
          align-items: center;
          font-weight: 400;
          gap: 20px;
          color: var(--white);
          border-bottom: 2px solid rgba(255, 255, 255, 0.3);
          padding-bottom: 16px;

          .icon-headset {
          }
          .text {
            font-size: 17px;
            line-height: 25px;
            font-weight: 400;
            @media screen and (max-width: 991.98px) {
              font-size: 14px;
              line-height: 21px;
            }
            b {
              font-weight: 800;
            }
          }
          a {
            font-size: 30px;
            font-weight: 400;
            line-height: 37px;
            display: block;
            transition: all 0.3s linear;
            @media screen and (max-width: 991.98px) {
              font-size: 16px;
              line-height: 23px;
            }
            @media screen and (min-width: 992px) {
              &:hover {
                color: var(--primary);
              }
            }
            b {
              font-weight: 800;
            }
          }
        }
        .follow {
          padding-top: 20px;
          & > span {
            display: block;
            font-size: 19px;
            font-weight: 400;
            color: var(--white);
            @media screen and (max-width: 991.98px) {
              font-size: 14px;
              line-height: 21px;
            }
            b {
              font-weight: 800;
            }
          }
          .socialMedia {
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            a {
              color: var(--white);
              transition: all 0.3s linear;
              @media screen and (min-width: 992px) {
                &:hover {
                  color: var(--primary);
                }
              }
            }
          }
        }
        .logo {
          width: 145px;
          margin-top: auto;
          @media screen and (max-width: 991.98px) {
            width: 100px;
            margin: 20px auto;
          }
          img {
          }
        }
      }
      .rightColumn {
        flex: 1;
        padding-left: 80px;
        @media screen and (max-width: 991.98px) {
          border-top: 1px solid rgba(255, 255, 255, 0.3);
          padding-left: 0;
          flex: none;
          width: 100%;
          padding-top: 30px;
          margin-top: 10px;
        }
      }
      .footerMenu {
        .footerMenuList {
          display: flex;
          align-items: flex-start;
          @media screen and (max-width: 991.98px) {
            display: block;
          }
          & > li {
            width: 33.3%;
            padding-left: 20px;
            padding-right: 20px;
            @media screen and (max-width: 991.98px) {
              width: auto;
              text-align: center;
            }
            .menuTitle,
            & > span {
              font-size: 21.5px;
              color: var(--white);
              font-weight: 800;
              @media screen and (max-width: 991.98px) {
                font-size: 16px;
                line-height: 24px;
                margin-top: 10px;
                display: block;
              }
            }
            .subMenu {
              margin-top: 15px;
              @media screen and (max-width: 991.98px) {
                margin-top: 5px;
              }
              li {
                a {
                  font-weight: 400;
                  font-size: 19px;
                  line-height: 26px;
                  color: var(--white);
                  @media screen and (max-width: 991.98px) {
                    font-size: 14px;
                    line-height: 21px;
                  }
                  @media screen and (min-width: 992px) {
                    &:hover {
                      color: var(--primary);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .footerBottom {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 13px;
      padding-top: 13px;
      margin-top: 20px;
      .copyRight {
        font-size: 15.5px;
        line-height: 22px;
        font-weight: 400;
        color: var(--white);
        letter-spacing: -0.15px;
        @media screen and (max-width: 991.98px) {
          font-size: 12px;
          line-height: 20px;
          text-align: center;
        }
        b {
          font-weight: 800;
        }
      }
    }
  }
}

.kesfetSection {
  display: flex;
  align-items: center;
  position: relative;
  top: -75px;
  @media screen and (max-width: 991.98px) {
    margin-block: 0 !important;
  }
  figure {
    // width: 296px;
    // left: -75px;
    position: absolute;
    height: auto;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -15px;
    width: 15.417vw;
    left: -4vw;
    @media screen and (max-width: 991.98px) {
      display: none;
    }
  }
  .kesfetContent {
    width: 100%;
    background-image: url("../../images/statics/iconsBg-light.png");
    background-color: var(--primary);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 150px;
    background-blend-mode: multiply;
    border-radius: 44px;
    // padding-left: 300px;
    padding-left: 15.7vw;
    position: relative;
    display: flex;
    align-items: center;
    @media screen and (max-width: 991.98px) {
      padding-left: 0;
      border-radius: 25px;
      flex-direction: column;
      padding: 16px 20px;
      text-align: center;
    }

    .desc {
      max-width: 630px;
      @media screen and (max-width: 991.98px) {
        max-width: initial;
      }
      .caption {
        font-size: 36px;
        line-height: 44px;
        color: var(--white);
        font-weight: 400;
        @media screen and (max-width: 991.98px) {
          font-size: 18px;
          line-height: 25px;
        }
        b {
          font-weight: 800;
        }
      }
      p {
        font-size: 16px;
        color: var(--white);
        font-weight: 400;
        line-height: 25px;
        margin-top: 10px;
        @media screen and (max-width: 991.98px) {
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
    .kesfetButton {
      margin-left: auto;
      margin-right: -15px;
      @media screen and (max-width: 991.98px) {
        margin-right: auto;
        margin-top: 20px;
      }
    }
  }
}
