header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding-top: 11px;
  padding-bottom: 11px;
  height: 85px;
  background-color: var(--white);
  z-index: 999;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2) !important;
  @media screen and (max-width:1600px) {
    height: 65px;
  }
  @media screen and (max-width: 991.98px) {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 65px;
  }

  .headerNav {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    position: relative;
    z-index: 9;

    .buttons {
      display: flex;
      gap: 25px;
      margin-left: auto;
    }
    .logo{
      width: 280px;
      @media screen and (max-width:1600px) {
        width: 180px;
      }
      @media screen and (max-width:1280px) {
        width: 120px;
      }
      img{
        max-width: 100%;
      }
    }
    // .logo {
    //   // padding-left: 14%;
    //   position: absolute;
    //   left: 0;
    //   right: 0;
    //   margin: 0 auto;
    //   display: inline-flex;
    //   width: 105px;
    //   top: 2px;

    //   @media screen and (max-width: 991.98px) {
    //     position: relative;
    //     top: 0;
    //     width: 60px;
    //   }
    // }

    & > a {
      @media screen and (max-width: 991.98px) {
        display: flex;
        height: auto;
        width: 150px;
      }
    }
  }

  &.sticky-top,
  &.light {
    .menuNavButton {
      &:before,
      &:after {
        background-color: var(--primary);
      }

      span {
        background-color: var(--primary);
      }
    }

    .language {
      a {
        color: var(--text-2);

        & + a {
          &:before {
            color: var(--text-2);
          }
        }
      }
    }

    // .logo {
    //   img {
    //     filter: invert(1) opacity(0.8);
    //   }
    // }
  }

  &.sticky-top,
  &.sticky {
    position: fixed !important;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2) !important;

    &:before {
      opacity: 1;
      overflow: visible;
      visibility: visible;
      top: 0;
    }

    &.transitionTop {
      top: -100%;
    }
  }
}

.userButton {
  font-size: 32px;
  color: var(--primary);
  margin-left: 14px;
  &:after {
    display: none;
  }
  @media screen and (max-width: 991.98px) {
    position: relative;
    z-index: 9999;

    &.show {
      transform: translateX(34px) !important;
      .icon-user {
        background-color: var(--primary);
        color: var(--white);
        border-radius: 6px;
        &:before {
          content: "\e922";
        }
      }
    }
  }

  & ~ .dropdown-menu {
    box-shadow: 0 2px 4px rgba(39, 54, 86, 0.14),
      0 1px 10px rgba(39, 54, 86, 0.2);
    border: none;
    border-radius: 24px;
    padding: 20px 40px 20px 25px;
    .dropdown-item {
      display: flex;
      align-items: center;
      font-size: 16px;
      gap: 10px;
      font-family: "GilroyMedium";
      min-height: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 0;
      @media screen and (max-width: 991.98px) {
        font-family: "GilroySemibold";
      }
      .icon {
        width: 24px;
        height: 24px;
        min-width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 18px;
          max-height: 18px;
          object-fit: contain;
          @media screen and (max-width: 991.98px) {
            max-width: 22px;
            max-height: 22px;
          }
        }
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0);
        color: var(--primary);
      }
      &.active {
        background-color: rgba(0, 0, 0, 0);
        color: var(--primary);
        font-size: "GilroySemibold";
      }
      @media screen and (max-width: 991.98px) {
        min-height: 45px;
      }
    }
    @media screen and (max-width: 991.98px) {
      position: fixed !important;
      width: 100%;
      height: 100%;
      transform: translate(0, 100%) !important;
      border-radius: 0;
      padding-top: 70px;
      transition: all 0.3s linear !important;
      &.show {
        transform: translate(0, 0) !important;
      }
    }
  }

  .otherUserMenuIcon {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: var(--primary);
    color: var(--white);
    font-size: 16px;
    font-family: "GilroySemibold";
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.type2{

    &.show {
      @media screen and (max-width:991.98px) {
        transform: none !important;
      }
      .otherUserMenuIcon {
        @media screen and (max-width: 991.98px) {
          font-size: 0;
          &:before {
            content: "\e922";
            font-family: "customFont";
            font-size: 24px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.menuNavButton {
  position: relative;
  width: 26px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  transition: all 0.3s linear;

  &:before,
  &:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    transition: all 0.3s linear;
    @media screen and (max-width: 991.98px) {
      background-color: var(--primary);
    }
  }

  span {
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    transition: all 0.3s linear;

    @media screen and (max-width: 991.98px) {
      background-color: var(--primary);
    }
  }

  &.active {
    justify-content: center;

    span {
      transform: translateX(-100%);
      opacity: 0;
      visibility: hidden;
    }

    &:after {
      transform: rotate(-45deg);
      top: -2px;
      position: relative;
    }

    &:before {
      transform: rotate(45deg);
      top: 2px;
      position: relative;
    }
  }

  @media screen and (min-width: 992px) {
    align-items: flex-start;

    &:not(.active):hover {
      span {
        background-color: var(--primary);
        position: relative;
        width: 80%;
      }

      &:before,
      &:after {
        background-color: var(--primary);
        position: relative;
      }
    }
  }
  &.closedMenuButton {
    justify-content: center;
    transition: all 0.3s linear;

    span {
      transform: translateX(-100%);
      opacity: 0;
      visibility: hidden;
    }

    &:after {
      transform: rotate(-45deg);
      top: -2px;
      position: relative;
      background-color: var(--white);
    }

    &:before {
      transform: rotate(45deg);
      top: 2px;
      position: relative;
      background-color: var(--white);
    }

    @media screen and (min-width: 992px) {
      &:hover {
        transform: rotate(90deg) !important;
        &:after,
        &:before {
          background-color: var(--white);
        }
      }
    }
  }
}

// .logo {
//   img {
//     transition: all 0.3s linear;
//   }

//   @media screen and (min-width: 992px) {
//     &:hover {
//       img {
//         transform: scale(1.05);
//       }
//     }
//   }
// }

.languageWrapper {
  .dropdown-toggle {
    padding-right: 20px;
    margin-right: 15px;
    color: var(--primary);
    @media screen and (max-width: 991.98px) {
      margin-right: 0;
      color: var(--primary);
    }
    &::after {
      content: "\e903";
      font-family: "customFont";
      border: none;
      color: var(--primary);
      font-size: 20px;
      transform: rotate(90deg) translateX(-50%);
      margin: 0;
      vertical-align: middle;
      top: 50%;
      position: absolute;
      transition: all 0.3s linear;
      @media screen and (max-width: 991.98px) {
        color: var(--primary);
      }
    }

    &.show {
      &::after {
        transform: none;
        transform: translateY(-50%);
        @media screen and (max-width: 991.98px) {
          transform: translateY(-50%) rotate(-90deg);
        }
      }
    }
  }
}
.languageDropdown {
  width: 400px;
  padding-left: 50px !important;
  padding-right: 50px !important;
  border-color: var(--gray-3);
  border-radius: 15px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.475) !important;
  @media screen and (max-width: 991.98px) {
    width: calc(100vw - 30px);
    left: 15px;
    transform: none !important;
    right: 0;
    position: fixed;
    top: 65px;
    border-radius: 0;
  }
  @media screen and (max-width: 640px) {
    width: 100%;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .title {
    font-size: 16px;
    font-family: "GilroySemibold";
    // color: var(--gray-6);
    line-height: 27px;
    margin-top: 30px;
    color: var(--primary);
  }
  hr {
    border-top-color: var(--gray-3);
    opacity: 1;
  }
  .languageList {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding: 10px 0 30px 0;
    @media screen and (max-width: 640px) {
      gap: 20px;
    }

    li {
      width: calc(33.3% - 24px);
    }
    .currencly {
      font-family: sans-serif;
      padding-right: 5px;
    }
  }

  .languageSaveButton {
    margin-top: 20px;
    display: flex;
    margin-right: auto;
    margin-bottom: 20px;
  }

  &.show {
    left: 50%;
    transform: translate(-50%, 48px) !important;
    @media screen and (max-width: 991.98px) {
      width: calc(100vw - 30px);
      left: 16px !important;
      transform: none !important;
      right: 16px !important;
      position: fixed !important;
      top: 65px !important;
      border-radius: 0;
    }
  }
}
.language {
  padding-left: 40px;

  a {
    font-family: "GilroyRegular";
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    transition: all 0.3s linear;
    display: inline-flex;
    align-items: center;

    span {
      transition: all 0.3s linear;
      position: relative;
    }

    & + a {
      position: relative;
      padding-left: 16px;
      gap: 15px;

      &:before {
        content: "|";
        color: var(--white);
        top: -1.5px;
        position: relative;
      }
    }

    @media screen and (min-width: 992px) {
      &:hover {
        span {
          transform: translateY(-3px);
          color: var(--primary);
        }
      }
    }
  }
}
