header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  display: flex;
  align-items: center;
  @media screen and (max-width: 1600px) {
  }
  @media screen and (max-width: 991.98px) {
  }
  .logo {
    z-index: 99;
    position: relative;
    transition: all 0.3s linear;
    @media screen and (max-width: 991.98px) {
      width: 70px;
    }
    @media screen and (min-width: 992px) {
      bottom: -40px;
      @media screen and (max-width: 1440px) {
        bottom: -17px;
        width: 100px;
      }
    }
  }
  .ataturkLogo {
    position: relative;
    top: -6px;
    @media screen and (max-width: 991.98px) {
      position: fixed;
      top: -150px;
      width: 50px;
      right: 16px;
      z-index: 9;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s linear;
    }
    @media screen and (min-width: 992px) {
      min-width: 95px;
    }
  }

  &.fixed {
    position: fixed;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
    background-color: var(--sixth);

    &:before {
      opacity: 1;
      overflow: visible;
      visibility: visible;
      top: 0;
    }

    .logo {
      @media screen and (min-width: 992px) {
        bottom: 0;
        width: 70px;
      }
    }
  }
}
