.modal {
  .modal-content {
    max-height: 750px;
    .modal-header {
      padding: 20px;
      // border-bottom: none;
      .titleColumn {
        flex: 1;
        text-align: center;
        padding-right: 20px;
        .modal-title {
          font-size: 24px;
          color: var(--text);
          font-family: "GilroySemibold";
          line-height: 32px;
          margin-bottom: 20px;
        }
        p {
          font-family: "GilroyRegular";
          color: var(--gray-6);
          font-size: 14px;
          line-height: 22px;
        }
      }
      .btn-close {
        width: 45px;
        height: 45px;
        background-color: var(--primary);
        padding: 0;
        box-shadow: none;
        opacity: 1;
        background-image: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        &:after {
          content: "\e922";
          font-family: "customFont";
          font-size: 32px;
          color: var(--white);
        }
        &.type2 {
          position: absolute;
          top: 20px;
          right: 20px;
        }
      }
    }
    .modal-body {
      padding: 20px;
      @media screen and (min-height: 750px) {
        min-height: 555px;
      }
      &::-webkit-scrollbar {
        background-color: rgba(217, 4, 62, 0.4);
        width: 4px;
        box-shadow: none;
        border: none;
        outline: 0;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--gray-4);
        width: 4px;
        box-shadow: none;
        border: none;
        outline: 0;
        /* Chrome, Safari, Edge ve Opera için */
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(217, 4, 62, 0.4);
        width: 4px;
        box-shadow: none;
        border: none;
        outline: 0;
        /* Chrome, Safari, Edge ve Opera için */
      }
      .customAcc {
        .accordion-item {
          margin-bottom: 20px;
          background-color: rgba(0, 0, 0, 0);
          margin-top: 30px;
          border: 1px solid var(--gray);
          border-radius: 16px;
          &:first-child {
            border-top: 1px solid var(--gray);
          }
          .accordion-button {
            font-size: 20px;
            color: var(--text);
            line-height: 28px;
            font-family: "GilroySemibold";
            box-shadow: none;
            padding: 20px 15px;
            &.collapsed {
              background-color: rgba(0, 0, 0, 0.03);
            }
          }
        }
      }

      .checkList {
        display: flex;
        align-items: stretch;
        gap: 10px;
        @media screen and (max-width: 991.98px) {
          flex-wrap: wrap;
        }
        .radioCheck {
          @media screen and (max-width: 991.98px) {
            min-width: calc(50% - 5px);
            max-width: 50%;
          }
          @media screen and (max-width: 480px) {
            max-width: initial;
            width: 100%;
          }
        }
      }

      .form-control {
        color: var(--text-2);
        font-size: 14px;
        font-family: "GilroyMedium";
        border: 1px solid var(--gray-4);
        height: 50px;
        padding-left: 16px;
        padding-right: 24px;
        background-color: var(--white);
        border-radius: 6px;
        width: 100%;

        &:focus {
          outline: 0;
          box-shadow: none;
        }
      }
      .form-label {
        display: block;
        color: var(--text-2);
        font-size: 14px;
        font-family: "GilroySemibold";
        margin-bottom: 4px;
      }
      .eventItem {
        span {
          font-size: 17px;
          line-height: 25px;
          color: var(--text);
          font-family: "GilroySemibold";
          &.title {
            color: var(--gray-7);
            font-size: 16px;
            line-height: 25px;
            font-family: "GilroyMedium";
          }
          &.icon-date {
            position: absolute;
            bottom: 12px;
            color: var(--primary);
            right: 20px;
          }
        }
        a {
          font-size: 17px;
          line-height: 25px;

          span {
            color: var(--primary);
          }
          @media screen and (min-width: 992px) {
            &:hover {
              span {
                color: var(--text-2);
              }
            }
          }
        }
      }
    }
    .modal-footer {
      padding: 20px;

      .fixBtn {
        @media screen and (max-width: 991.98px) {
          height: 50px;
          font-size: 15px;
        }
      }
      .textLink {
        @media screen and (max-width: 991.98px) {
          font-size: 15px;
          margin-top: 0;
        }
      }
    }
    .paragraph {
      span,
      h2 {
        font-size: 19px;
        margin-top: 0;
        margin-bottom: 5px;
        line-height: 27px;
        @media screen and (max-width: 991.98px) {
          font-size: 15px;
          line-height: 22px;
        }
      }
    }
  }
  .customAcc {
    .accordion-item {
      .accordion-body {
        padding-left: 16px;
        padding-right: 16px;
      }
      .accordion-button {
        padding-left: 16px;
        padding-right: 16px;
        &:after {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .boatInformation {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    @media screen and (max-width: 640px) {
      gap: 20px;
      flex-wrap: wrap;
    }
    & > div {
      width: calc(50% - 15px);
      @media screen and (max-width: 640px) {
        width: 100%;
      }
    }
  }
  .modalHead {
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    .modal-title {
      font-family: "GilroySemibold";
      font-size: 20px;
      color: var(--primary);
    }
  }
  &.type2 {
    .modal-header {
      border-bottom: none;
      padding: 0;
      .btn-close {
        position: absolute;
        right: 20px;
        top: 10px;
        z-index: 99;
      }
    }
    .modalHead {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.hizmetlerModalBackButton {
  width: 30px;
  height: 30px;
  background-color: var(--primary);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary);
  transition: all 0.3s linear;
  .icon-arrow-right-2 {
    transform: rotate(180deg);
    display: flex;
    font-size: 24px;
    color: var(--white);
    transition: all 0.3s linear;
  }
  @media screen and (min-width: 992px) {
    &:hover {
      background-color: var(--white);
      .icon-arrow-right-2 {
        color: var(--primary);
      }
    }
  }
}
#UyeGirisiModal,
#UyeOlModal,
#sifremiUnuttumModal,
#UyeGirisiTekneModal,
#UyeOlTekneModal,
#sifremiUnuttumTekneModal {
  hr {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
  .modal-dialog {
    max-width: 650px;
  }
  .modal-content {
    @media screen and (min-height: 900px) {
      min-height: 750px;
      .modal-header {
        .btn-close {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
  .modal-body {
    padding: 50px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 480px) {
      padding: 50px 20px;
    }
  }
}
#hizmetlerModal,
#hizmetlerDetailsModal {
  .modal-content {
    padding-bottom: 30px;
  }
  .modal-header {
    padding-left: 50px;
    padding-right: 50px;
    @media screen and (max-width: 480px) {
      padding: 20px;
    }
  }
  .modal-body {
    padding: 20px 50px;
    @media screen and (max-width: 480px) {
      padding: 20px;
    }
  }
}
.priceInfo {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}
.propList {
  .listItem {
    .title {
      font-size: 20px;
      color: var(--text);
      line-height: 28px;
      font-family: "GilroySemibold";
      box-shadow: none;
      padding: 20px 0 20px 0;
    }
  }
}

.ekstralarList {
  padding-top: 10px;
  .listItem {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid var(--gray-4);
    .container-check {
      .checkText {
        font-size: 16px;
        @media screen and (max-width: 991.98px) {
          font-size: 14px;
        }
      }
    }
    .textLink {
      margin-left: 30px;
      margin-top: 0;
    }
    .priceInfo {
      & > span {
        font-size: 13px;
        color: var(--gray-6);
      }

      .countPrice {
        color: var(--gray-6);
        &:after {
          content: "/";
          font-size: 14px;
          color: var(--gray-5);
          display: inline-block;
          margin-left: 5px;
          margin-right: 5px;
        }
        .price {
          font-size: 16px;
          margin-right: 5px;
          font-family: "GilroyMedium";
          @media screen and (max-width: 991.98px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
