.modal {
  .btn-close {
    background-image: none;
    background-color: var(--secondary);
    color: var(--white);
    font-size: 23px;
    font-weight: 700;
    width: 150px;
    height: 60px;
    border-radius: 8px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    position: relative;
    margin-left: auto;
    box-shadow: none;
    transition: all 0.3s linear;
    &:focus {
      box-shadow: none;
    }
    @media screen and (max-width: 991.98px) {
      height: 46px;
      width: 120px;
      font-size: 16px;
    }
    @media screen and (min-width: 992px) {
      &:hover {
        background-color: var(--white);
        color: var(--secondary);
      }
    }
  }
  .modal-content {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    .modal-body {
      min-height: 300px;
      display: flex;
      align-items: center;
    }
  }

  .modalContentWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    p {
      color: var(--white);
      font-weight: 600;
      font-size: 23px;
      line-height: 30px;
      margin-bottom: 16px;
      @media screen and (max-width: 991.98px) {
        font-size: 16px;
        line-height: 25px;
      }
    }
    .searchInputWrapper {
      background-color: var(--white);
      border-radius: 8px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 90px;
      padding: 16px;
      width: 100%;
      @media screen and (max-width: 991.98px) {
        height: 60px;
        padding: 7px;
      }

      input {
        width: calc(100% - 60px);
        height: 58px;
        padding-left: 36px;
        padding-right: 36px;
        font-size: 18px;
        font-weight: 400;
        color: var(--text);
        @media screen and (max-width: 991.98px) {
          width: calc(100% - 46px);
          height: 46px;
          font-size: 14px;
          padding-left: 12px;
          padding-right: 12px;
        }
        &::placeholder {
          color: #cccccc;
        }
        &::-moz-placeholder {
          color: #cccccc;
        }
        &::-moz-placeholder {
          color: #cccccc;
        }

        &::-ms-input-placeholder {
          color: #cccccc;
        }
        &::-webkit-input-placeholder {
          color: #cccccc;
        }
      }
      .searchButton {
        min-width: 60px;
        width: 60px;
        height: 60px;
        @media screen and (max-width: 991.98px) {
          min-width: 46px;
          width: 46px;
          height: 46px;
        }
        .icon-search {
          font-size: 32px;
          @media screen and (max-width:991.98px) {
            font-size: 26px;
          }
        }
      }
    }
  }
}

.modal-backdrop {
  background: rgba(0, 31, 51, 0.93);
  --bs-backdrop-opacity: 100%;
}
