.navbar {
  .navbar-collapse {
    @media screen and (max-width: 991.98px) {
      width: 100%;
      height: 100vh;
      background-color: var(--fifth);
      left: 100%;
      position: fixed;
      opacity: 0;
      visibility: hidden;
      top: 0;
      bottom: 0;
      transition: all 0.3s linear;
      padding-top: 100px;
      padding-bottom: 100px;
    }

    &.show {
      @media screen and (max-width: 991.98px) {
        left: 0;
        opacity: 1;
        visibility: visible;
      }

      .ataturkLogo {
        @media screen and (max-width: 991.98px) {
          opacity: 1;
          top: -6px;
          visibility: visible;
        }
      }
      .searchNavButton {
        @media screen and (max-width: 991.98px) {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    @media screen and (min-width: 992px) {
      align-items: flex-end;
    }
  }
  .navMenuWrapper {
    @media screen and (max-width: 991.98px) {
      display: block;
      padding-left: 15px;
      padding-right: 15px;
      height: 100%;
      overflow-y: auto;
      & > div {
        gap: 30px;
      }

      &:before {
        content: "";
        width: calc(100% + 32px);
        position: fixed;
        top: 0;
        left: -16px;
        right: 0;
        background-color: var(--fifth);
        height: 90px;
        z-index: 2;
      }
    }
    @media screen and (min-width: 992px) {
      padding-bottom: 12px;
      padding-right: 15px;
    }
    .bottom {
      display: flex;
      align-items: center;
      gap: 14px;
      @media screen and (max-width: 991.98px) {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
      }
      @media screen and (min-width: 992px) {
        padding-top: 10px;
      }
    }
    .top {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      gap: 5px;
      @media screen and (max-width: 991.98px) {
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }
      .topHead {
        display: flex;
        align-items: center;
        gap: 20px;
        @media screen and (max-width: 991.98px) {
          flex-direction: column;
          align-items: flex-start;
        }
      }
      .topMenu {
        display: flex;
        align-items: center;
        gap: 12px;
        @media screen and (max-width: 991.98px) {
          flex-direction: column;
          align-items: flex-start;
          padding-top: 12px;
        }
        a {
          font-weight: 400;
          font-size: 16.5px;
          color: var(--white);
          opacity: 0.43;
          transition: all 0.3s linear;
          @media screen and (max-width: 1440px) {
            font-size: 14.5px;
          }
          @media screen and (max-width: 1366px) {
            font-size: 13px;
          }
          @media screen and (max-width: 1100px) {
            font-size: 12px;
          }
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .language {
    padding-left: 10px;
    @media screen and (max-width: 991.98px) {
      position: fixed;
      top: 22px;
      right: 75px;
    }
    a {
      width: 54px;
      height: 54px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--white);
      opacity: 0.4;
      transition: all 0.3s linear;
      font-size: 13px;
      color: var(--white);
      @media screen and (max-width: 1600px) {
        width: 45px;
        height: 45px;
      }
      @media screen and (max-width: 991.98px) {
        width: 40px;
        height: 40px;
        margin: 0;
        opacity: 1;
      }
      @media screen and (min-width: 992px) {
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .navbar-nav {
    gap: 12px;
    position: relative;
    @media screen and (max-width: 991.98px) {
      gap: 0;
      width: 100%;
    }
    .nav-item {
      @media screen and (max-width: 991.98px) {
        position: relative;
        &:not(:first-child) {
          border-top: 1px solid rgba(255, 255, 255, 0.5);
          width: 100%;
        }
      }
      .nav-link {
        color: var(--white);
        font-weight: 600;
        font-size: 18px;
        padding-left: 0;
        padding-right: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 1440px) {
          font-size: 16px;
        }
        @media screen and (max-width: 1366px) {
          font-size: 14px;
        }
        @media screen and (max-width: 1100px) {
          font-size: 12px;
        }
        @media screen and (max-width: 991.98px) {
          text-align: left;
          justify-content: flex-start;
          height: 50px;
          font-size: 14px;
        }
        &.active {
          color: var(--secondary);
        }
      }
      .subMenuNav {
        position: absolute;
        left: 0;
        width: 100%;
        min-width: 500px;
        display: flex;
        align-items: center;
        transform: translateY(50px);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s linear;
        padding-top: 20px;
        border-radius: 0 27px 27px 27px;
        @media screen and (max-width: 991.98px) {
          position: relative;
          min-width: initial;
          left: 0;
          right: 0;
          margin: 0 auto;
          text-align: left;
          opacity: 1;
          visibility: visible;
          transform: none;
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 15px;
          height: 0;
          overflow: hidden;
          visibility: hidden;
          transition: height 0.3s linear;
          background-color: var(--sixth);
        }
        @media screen and (min-width: 992px) {
          overflow: hidden;
          &:before {
            content: "";
            background-image: url("../../images/statics/slogan.png");
            width: 153px;
            height: 87px;
            position: absolute;
            right: 15px;
            bottom: 40px;
          }
          &:after {
            content: "";
            background: linear-gradient(
              to right,
              var(--primary) 25%,
              var(--secondary) 25% 50%,
              var(--third) 50% 75%,
              var(--fourth) 75%
            );
            height: 23px;
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            transition: all 0.3s linear;
          }
        }
        ul {
          background: var(--white);
          box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
          background-image: url("../../images/statics/open-menu-bg.png");
          background-position: right bottom;
          background-repeat: no-repeat;
          background-size: cover;
          overflow: hidden;
          padding-left: 54px;
          min-height: 290px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          border-radius: 0 27px 0 0;
          @media screen and (max-width: 991.98px) {
            background: none;
            box-shadow: none;
            padding-left: 0;
            min-height: initial;
            padding-top: 0;
            display: block;
          }
          @media screen and (min-width: 992px) {
            padding-bottom: 60px;
            padding-right: 200px;
            padding-left: 50px;
            padding-top: 30px;
          }
          li {
            transition: all 0.3s linear;
            position: relative;

            a {
              color: var(--fifth);
              display: flex;
              align-items: center;
              line-height: 29px;
              gap: 10px;
              font-size: 21.5px;
              font-weight: 400;
              transition: all 0.3s linear;
              @media screen and (max-width:1600px) {
                font-size: 18px;
              }
              @media screen and (max-width: 991.98px) {
                color: var(--white);
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 13px;
              }
            }
            @media screen and (min-width: 992px) {
              &:hover {
                a {
                  color: var(--primary);
                  font-weight: 800;
                }

                &:before {
                  left: -54px;
                }
              }
            }
          }
        }

        &.opened {
          @media screen and (max-width: 991.98px) {
            height: auto;
            opacity: 1;
            visibility: visible;
            padding-bottom: 10px;
            padding-top: 10px;
            margin-bottom: 10px;
          }
        }
      }
      @media screen and (min-width: 992px) {
        &:hover {
          .nav-link {
            color: var(--secondary);
          }
          .subMenuNav {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
          }
        }
      }
      &.subMenuNavItem {
        @media screen and (max-width: 991.98px) {
          &:after {
            content: "\e900";
            font-family: "customFont";
            color: var(--white);
            font-size: 14px;
            transform: rotate(-90deg);
            position: absolute;
            display: inline-flex;
            right: 0;
            top: 15px;
            transition: all 0.3s linear;
          }
        }
        &.active {
          @media screen and (max-width: 991.98px) {
            &:after {
              transform: rotate(90deg);
            }
          }
        }
      }
    }
  }

  .searchNavButton {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    transition: all 0.3s linear;
    border-radius: 8px;
    @media screen and (max-width: 991.98px) {
      position: fixed;
      top: 22px;
      right: 125px;
      z-index: 9;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s linear;
    }
    .icon-search {
      color: var(--white);
      transition: all 0.3s linear;
    }
    @media screen and (min-width: 992px) {
      &:hover {
        background-color: var(--primary);
      }
    }
  }
}
.socailMedia {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 5px;
  a {
    font-size: 18px;
    color: var(--white);
    opacity: 0.4;
    transition: all 0.3s linear;
    .icon-instagram {
      font-size: 22px;
      right: -2px;
      position: relative;
    }
    @media screen and (min-width: 992px) {
      &:hover {
        opacity: 1;
      }
    }
  }
}
.languages {
  display: flex;
  align-items: center;
  gap: 12px;
  a {
    color: var(--white);
    font-weight: 700;
    opacity: 27%;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    &:not(:first-child) {
      gap: 12px;
      &:before {
        content: "|";
        color: var(--white);
      }
    }
    &:hover {
      opacity: 1;
      &:before {
        opacity: 27%;
      }
    }
  }
}
.navbar-toggler {
  border: none;
  padding: 0;
  z-index: 99;
  outline: 0;
  box-shadow: none;
  position: relative;
  transition: all 0.3s linear;
  @media screen and (max-width: 991.98px) {
    border: 1px solid var(--white);
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:focus {
    box-shadow: none;
  }

  .navbar-toggler-icon {
    background-image: none;
    background-image: none;
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    outline: 0;
    box-shadow: none;
    padding: 13px 7px;

    span {
      width: 100%;
      height: 2px;
      background-color: var(--white);
    }
    &:before,
    &:after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--white);
      position: relative;
      transition: all 0.3s linear;
    }
  }

  &:not(.collapsed) {
    right: 60px;
    .navbar-toggler-icon {
      justify-content: center;
      span {
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
      }
      &:after {
        transform: rotate(45deg);
        bottom: 2px;
      }
      &:before {
        transform: rotate(-45deg);
        top: 2px;
      }
    }
  }
}
