.pageContentWrapper {
  position: relative;

  .sectionHead{
    padding-top: 45px;
    @media screen and (max-width:991.98px) {
      padding-top: 30px;
    }
  }

  .contentHead{
    padding-bottom: 10px;
    .contentTitle{
      font-size: 36px;
      line-height: 42px;
      color: var(--primary);
      font-weight: 400;
      margin-bottom: 20px;
      @media screen and (max-width:991.98px) {
        font-size: 22px;
        line-height: 30px;
      }
      b{
        font-weight: 700;
      }
    }
    p{
      font-size: 16px;
      line-height: 24px;
      color: #191919;
      font-weight: 400;

      b{
        font-weight: 700;
      }
    }
  }
  .twiceColumn {
    display: flex;
    align-items: flex-start;
    @media screen and (max-width: 991.98px) {
      flex-direction: column;
      padding-top: 20px;
    }
    .leftColumn {
      width: 310px;
      background-color: var(--gray);
      position: relative;
      border-radius: 0 0 15px 15px;
      padding-bottom: 100px;
      @media screen and (max-width: 991.98px) {
        width: 100%;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        gap: 30px;
        border-radius: 15px;
      }
      @media screen and (max-width: 540px) {
        flex-direction: column;
        padding: 20px 16px 40px;
        gap: 10px;
      }
      .pageFigure {
        width: calc(100% + 140px);
        left: -50px;
        top: -75px;
        position: relative;
        @media screen and (max-width: 991.98px) {
          position: relative;
          left: 0;
          top: 0;
          width: 200px;
        }
        @media screen and (max-width: 540px) {
          width: 100%;
          max-width: 300px;
        }
        &.type2{
          width: calc(100% + 170px);
          left: -84px;
          top: -140px;
          @media screen and (max-width: 991.98px) {
            position: relative;
            left: 0;
            top: 0;
            width: 200px;
          }
          @media screen and (max-width: 540px) {
            width: 100%;
            max-width: 300px;
          }
        }
      }
      .infoContent {
        width: calc(100% - 50px);
        margin: 0 auto;
        font-size: 20px;
        line-height: 27px;
        color: #262626;
        font-weight: 400;
        margin-top: -75px;
        padding-bottom: 75px;
        @media screen and (max-width: 991.98px) {
          margin-top: 0;
          width: calc(100% - 250px);
          padding: 30px 0;
          font-size: 14px;
          line-height: 21px;
        }
        @media screen and (max-width: 540px) {
          padding: 0;
          width: 100%;
          text-align: center;
        }
        b {
          font-weight: 700;
        }

        .caption{
          color: var(--third);
          font-size: 28px;
          line-height: 35px;
          font-weight: 700;
          @media screen and (max-width:1440px) {
            font-size: 24px;
            line-height: 32px;
          }
          @media screen and (max-width:1366px) {
            font-size: 20px;
            line-height: 27px;
          }
          @media screen and (max-width:1280px) {
            font-size: 18px;
            line-height: 25px;
          }
          @media screen and (max-width:991.98px) {
            font-size: 16px;
            line-height: 22px;
            text-align: left;
          }
        }
        ul{
          padding-top: 15px;
          li{
            position: relative;
            padding-left: 35px;
            font-size: 17px;
            line-height: 25px;
            color: #262626;
            font-weight: 400;
            @media screen and (max-width:1280px) {
              font-size: 15px;
              line-height: 22px;
            }
            @media screen and (max-width:991.98px) {
              font-size: 14px;
              line-height: 21px;
              padding-top: 5px;
              padding-bottom: 5px;
              text-align: left;
            }
            b{
              font-weight: 700;
            }
            &:before{
              content: "\e905";
              font-family: 'customFont';
              font-size: 27px;
              color: var(--third);
              position: absolute;
              left: 0;
              top: -2px;
              @media screen and (max-width:991.98px) {
               top: 4px;
              }
            }
          }
        }

        &.type2{
          margin-top: -160px;
          padding-bottom:20px;
          @media screen and (max-width: 991.98px) {
            margin-top: 0;
            width: calc(100% - 250px);
            padding: 30px 0;
            font-size: 14px;
            line-height: 21px;
          }
          @media screen and (max-width: 540px) {
            padding: 0;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
    .rightColumn {
      width: calc(100% - 310px);
      padding-left: 130px;
      padding-top: 60px;
      @media screen and (max-width: 991.98px) {
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
      }
      @media screen and (max-width: 540px) {
      }
    }
  }
}


/*İletişim*/
.contactWrapper{
  padding-top: 55px;
  @media screen and (max-width:991.98px) {
    padding-top: 0;
  }
}