.swiper {
}

.swiperButtons {
  .customSwiperButton {
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background-color: var(--white);
    font-size: 20px;
    color: #bdbdbd;
    box-shadow: 0 8px 9px rgba(0, 0, 0, 0.2);
    transition: all .3s linear;
    @media screen and (max-width:1280px) {
        width: 45px;
        height: 45px;
    }
    &:after {
      display: none;
    }
    &.prevButton{
        left: -20px;
        @media screen and (max-width:1280px) {
            left: 20px;
        }
    }
    &.nextButton{
        right: -20px;
        @media screen and (max-width:1280px) {
            right: 20px;
        }
        .icon-arrow-middle-left{
            position: relative;
            transform: rotate(180deg);
        }
    }
    &.swiper-button-disabled{
        opacity: 70%;
    }
    @media screen and (min-width: 992px) {
      &:hover {
        background-color: var(--primary);
        color: var(--white);
      }
    }
  }
}
