.customTabs {
  border: none;
  border-bottom: none;
  gap: 15px 10px;

  .nav-item {
    .nav-link {
      font-size: 14px;
      color: var(--gray-6);
      font-family: "GilroySemibold";
      position: relative;
      border: none;
      height: 45px;
      display: inline-flex;
      align-items: center;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 0;
      padding-bottom: 0;
      border: 1px solid var(--primary);
      background-color: rgba(0, 0, 0, 0);
      border-radius: 25px;
      font-size: 16px;
      color: #444444;
      @media screen and (max-width: 991.98px) {
        font-size: 14px;
        padding-left: 16px;
        padding-right: 16px;
      }

      &.active {
        color: var(--white);
        background-color: var(--primary);
      }

      @media screen and (min-width: 992px) {
        &:hover {
          background-color: var(--primary);
          color: var(--white);
        }
      }
    }
  }

  &.type2 {
    border-bottom: 1px solid var(--primary);

    &.nav-tabs {
      gap: 0;
      .nav-item {
        &.show {
          .nav-link {
            border-color: var(--gray);
            border-bottom: none;
          }
        }
      }
      .nav-link {
        font-family: "GilroyMedium";
        color: var(--gray-7);
        padding: 15px 30px;
        background-color: var(--gray);
        margin-bottom: 0;
        border-radius: 0;
        font-size: 16px;
        @media screen and (max-width:991.98px) {
          padding: 10px 15px;
          font-size: 14px;
        }
        &:first-child{
          border-radius: 10px 0 0 0;
        }
        &:last-child{
          border-radius: 0 10px 0 0;
        }
        &.active {
          border-color: var(--primary);
          border-bottom: none;
          background-color: var(--primary);
          color: var(--white);
        }
        &:not(.active):hover {
          border-color: rgba(0, 0, 0, 0);
          color: var(--primary);
        }
      }
    }
  }
}

.customTabContents {
  margin-top: 34px;
  @media screen and (max-width:1600px) {
    margin-top: 15px;
  }
  @media screen and (max-width: 991.98px) {
    margin-top: 18px;
    margin-bottom: 30px;
  }
  .note {
    font-size: 14px;
    color: var(--gray-6);
    line-height: 22px;
    font-family: "GilroySemibold";
  }
  .tab-pane {
    position: relative;
  }

  .sliderButtonWrapper {
    position: absolute;
    right: 0;
    top: -69px;

    @media screen and (max-width: 991.98px) {
      top: auto;
      bottom: -50px;
      left: 0;
      right: 0;
      justify-content: center;
    }
  }

  .descContainer {
    max-width: 500px;
    .title {
      font-size: 60px;
      line-height: 65px;
      color: var(--black);
      font-family: "GilroySemibold";
      @media screen and (max-width: 1600px) {
        font-size: 50px;
        line-height: 55px;
      }
      @media screen and (max-width: 1440px) {
        font-size: 40px;
        line-height: 45px;
      }
      @media screen and (max-width: 991.98px) {
        font-size: 30px;
        line-height: 40px;
      }
    }
    .category {
      font-family: "GilroySemibold";
      font-size: 40px;
      line-height: 65px;
      color: var(--primary);
      @media screen and (max-width: 1600px) {
        font-size: 34px;
        line-height: 45px;
      }
      @media screen and (max-width: 991.98px) {
        font-size: 20px;
        line-height: 27px;
      }
    }
    p {
      color: #444444;
      font-family: "GilroyRegular";
      font-size: 16px;
      line-height: 25px;
      margin-top: 15px;
      @media screen and (max-width: 991.98px) {
        font-size: 14px;
        line-height: 22px;
      }
    }
    .textLink {
      margin-top: 30px;
      font-size: 17px;
      display: flex;
      align-items: center;
      gap: 20px;
      @media screen and (max-width: 991.98px) {
        font-size: 14px;
        line-height: 22px;
        margin-top: 10px;
      }
      .icon-arrow-long {
        font-size: 30px;
      }
      &:after {
        display: none;
      }
    }
  }
}

.offerNavTabs {
  flex-direction: column;
  align-items: flex-start;
  border-bottom: none;
  padding-left: 20px;
  padding-right: 20px;
  .nav-link {
    font-family: "GilroyMedium";
    font-size: 15px;
    line-height: 25px;
    color: var(--gray-5);
    display: flex;
    align-items: center;
    gap: 7px;
    border: none;
    transition: all 0.3s linear;
    padding: 4px 0;
    &.active {
      color: var(--gray-6);
    }
    @media screen and (min-width: 992px) {
      &:hover {
        color: var(--gray-6);
      }
    }
  }
}
.offertabContents {
  .tab-pane {
    position: relative;
  }
}
